/* >768px */
.container {
  margin: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

.form {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 1rem;
}

.inputField {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #06D6A0;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  font-size: 0.6rem;
}

.inputField:focus {
  outline: none;
  border-color: #06D6A0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #118AB2;
  font-weight: bold;
  font-size: 0.8rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

select:focus {
  outline: none;
  border-color: #06D6A0;
}

.form__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #06D6A0;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__button:hover {
  background-color: #05b08d;
}

.form__left {
  margin-bottom: 1rem;
  width: 100%; 
}

.form__right {
  margin-bottom: 1rem;
  margin-right: 1rem;
  width: 100%; 
}

.form__title {
  color: #06D6A0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.form__genre {
  color: #118AB2;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.form__description {
  color: #64748b;
  margin-bottom: 1rem;
}

.form__button {
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #06D6A0;
  color: #fff;
  font-size: 0.8rem;
}

.form__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  margin-top: 5rem;
  margin-right: 1rem;
}

/* ≥768px */
@media (min-width: 768px) {
}

/* ≥992px */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .form {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .form__left {
    flex-basis: 40%;
  }

  .form__right {
    flex-basis: 60%;
  }

  .form__image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
    margin-top: 0rem;
  }

  .form__title{
    font-size: 2.44rem;
  }

  label{
    font-size: 1rem;
  }

  .inputField{
    font-size: 1rem;
  }

  .form__button{
    font-size: 1rem;
  }
}